body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

.tooltip-container{
  margin: auto;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.tooltip-container .input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tooltip-container .input-container input{
  cursor: pointer;
}

.tooltip-container .input-container label{
  cursor: pointer;
}

.tooltip-container .tooltip-main-container{
  margin: auto;
}

.tooltip-main-container{
  position: relative;
}

.tooltip-main-container button{
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  background-color: blue;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .4s ease-in-out;
  text-align: center;
}

.tooltip-main-container button:focus{
  outline: none;
}

.tooltip-main-container button:hover {
  background-color: darkblue;
}

.tooltip-main-container .tooltip-text{
  /* display: none; */
  position: absolute;
  width: 8rem;
  height: 3rem;
  background-color: black;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.bottom{
  margin-top: 10px;
  margin-left: 30px;
}

.top{
  margin-top: -120px;
  margin-left: 30px;
}

.left{
  margin-top: -55px;
  margin-left: -140px;
}

.right{
  margin-top: -55px;
  margin-left: 200px;
}

button:hover ~ .tooltip-text{
  display: block;
}
